<div class="col-md-10 col-md-offset-2">
    <h3>Venue List</h3>

    <div id="venues">
        <div class="row venueitem" data-ng-repeat="venue in locations.venues | orderBy:'venueName'">
            <img src="{{venue.photo_url}}" />
            <a data-ng-href="#/venue/{{venue.venueId}}">{{venue.venueName}}</a>
            <br />
            <a data-ng-href="tel:{{venue.phone}}">{{venue.phone}}</a><span class="pull-right"><a data-ng-href="http://bing.com/maps/default.aspx?where1={{venue.address}},{{venue.city}},{{venue.state}}" target="_blank">{{venue.address}}</a></span>
        </div>
    </div>
</div>