<div class="row">
    <div  class="col-md-10 col-md-offset-2">
        <h3>{{selectedArtist.artistName}}</h3>
</div>
    </div>

<div class="row">
    <div  class="col-md-10 col-md-offset-2">

        {{selectedArtist.description}}
    </div>
</div>
<div class="row">
    <div  class="col-md-4 col-md-offset-2">
        <b>Twitter:</b>
    </div>
    <div  class="col-md-4">
        <a href="http://www.twitter.com/{{selectedArtist.twitter}}">{{selectedArtist.twitter}}</a>
    </div>
</div>
<div class="row">
    <div  class="col-md-4 col-md-offset-2">
        <b>Facebook:</b>
    </div>
    <div  class="col-md-4">
        <a href="{{selectedArtist.facebook}}">{{selectedArtist.facebook}}</a>
    </div>
</div>

<div class="row" >
        <div  class="col-md-4 col-md-offset-2">
            <b>HomePage:</b>
        </div>
        <div  class="col-md-4">
            <a href="{{selectedArtist.url}}">{{selectedArtist.url}}</a>
    </div>
</div>

