
<div class="artistDetail">
    <img src="artistImages/{{selectedArtist.artistId}}.jpg" />
</div>

<div>
    <h1>{{selectedArtist.artistName}}</h1>
</div>
<div>
    {{selectedArtist.homebase}}
</div>
<div>
    {{selectedArtist.genre}}
</div>
<div>
    {{selectedArtist.description}}
</div>


<div>
    <div>
        <b>Twitter:</b>
    </div>
    <div>
        <a data-ng-href="http://www.twitter.com/{{selectedArtist.twitter}}">{{selectedArtist.twitter}}</a>
    </div>
</div>
<div >
    <div>
        <b>Facebook:</b>
    </div>
    <div>
        <a data-ng-href="{{selectedArtist.facebook}}">{{selectedArtist.facebook}}</a>
    </div>
</div>

<div>
    <div>
        <b>HomePage:</b>
    </div>
    <div>
        <a data-ng-href="{{selectedArtist.url}}">{{selectedArtist.url}}</a>
    </div>
</div>
<div>
    <p>&nbsp;</p>
    <a href="#/artistList" class="btn btn-primary" >Back to Artists</a>
</div>

