<div class="col-md-10 col-md-offset-2">
    <h3>{{selectedArtist.artistName}}</h3>
</div>
<div class="col-md-10 col-md-offset-2">
    <p>{{selectedArtist.description}}</p>
</div>

<div class="row col-md-offset-2">
    <div class="col-md-2 col-md-offset-1">
        <b>Twitter:</b>
    </div>
    <div class="col-md-4">
        <a data-ng-href="http://www.twitter.com/{{selectedArtist.twitter}}">{{selectedArtist.twitter}}</a>
    </div>
</div>
<div class="row col-md-offset-2">
    <div class="col-md-2 col-md-offset-1">
        <b>Facebook:</b>
    </div>
    <div class="col-md-4">
        <a data-ng-href="{{selectedArtist.facebook}}">{{selectedArtist.facebook}}</a>
    </div>
</div>

<div class="row col-md-offset-2">
    <div class="col-md-2 col-md-offset-1">
        <b>HomePage:</b>
    </div>
    <div class="col-md-4">
        <a data-ng-href="{{selectedArtist.url}}">{{selectedArtist.url}}</a>
    </div>
</div>
<div class="col-md-10 col-md-offset-2">
    <p>&nbsp;</p>
    <a href="#/artistList" class="btn btn-primary" >Back to Artists</a>
</div>

