
<div class="mom-list-item">
    <div>
    <p>&nbsp;</p>
        <a href="javascript:window.history.back();">
             <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
</div>
    <table>
        <tbody>
        <tr>
            <td style="vertical-align: bottom" data-ng-repeat="artist in selectedConcert.artistData">
                <a data-ng-href="#/artist/{{artist.artistId}}">
                    <img src="{{artist.photoUrl}}" alt="image of {{artist.artistName}}" onerror="this.src='img/no-image-artist.jpg'" />   
                </a>   
                <div class="mom-list-label">{{artist.artistName}}</div>  
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div>
        <h3>{{selectedConcert.timeStart | date:'fullDate'}}</h3>
        <h4>{{selectedConcert.timeStart | date:'shortTime'}}</h4>
    </div>
</div> 
<div>       
    Venue: <a data-ng-href="#/venue/{{selectedConcert.venue.venueId}}">{{selectedConcert.venue.venueName}}</a><br />
    Address: {{selectedConcert.venue.address}}<br />
    Genre:{{selectedConcert.artist.genre}}<br />      
</div>
<div>
    <div class="post-thumb">
        <div data-ng-show="checkSchedule(selectedConcert.concertId)">
            <a class="mom-list-schedule-item-add-favorite" data-ng-click="saveFavorite(selectedConcert.concertId)"></a>
        </div>
        <div data-ng-hide="checkSchedule(selectedConcert.concertId)">
            <a class="mom-list-schedule-item-remove-favorite"  data-ng-click="removeFavorite(selectedConcert.concertId)"></a>
        </div>
    </div>

</div>

