
<div class="mom-list-item">
    <a data-ng-href="#/artist/{{selectedConcert.artist.artistId}}">
    
        <img onerror="this.src='img/logo.png'" data-ng-src="artistImages/{{selectedConcert.artist.artistId}}.jpg" alt="image of {{selectedConcert.artist.artistName}}" />                
    </a>   
    <div class="mom-list-label">{{selectedConcert.artist.artistName}}</div>  
</div>
<div>
    <div>
        <h3>{{selectedConcert.timeStart | date:'fullDate'}}</h3>
        <h4>{{selectedConcert.timeStart | date:'shortTime'}}</h4>
    </div>
</div> 
<div>       
    Venue: <a data-ng-href="#/venue/{{selectedConcert.venue.venueId}}">{{selectedConcert.venue.venueName}}</a><br />
    Address: {{selectedConcert.venue.address}}<br />
    Genre:{{selectedConcert.artist.genre}}<br />      
</div>
<div>
    <p>&nbsp;</p>
    <a href="#/concertList" class="btn btn-primary" >Back to Concerts</a>
</div>
