<div>
    <h3>Schedule</h3>

    <div class="input-group">
        <div data-listnav></div>
        <input type="text" data-ng-model="searchText" class="form-control" placeholder="Search" /> <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>

    <br />

    <div id="concerts">

        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" data-ng-click="setSelectedTab(1);">Thursday</a></li>
            <li><a href="" data-toggle="tab" data-ng-click="setSelectedTab(2);">Friday</a></li>
            <li><a href="" data-toggle="tab" data-ng-click="setSelectedTab(3);">Saturday</a></li>
            <li><a href="" data-toggle="tab" data-ng-click="setSelectedTab(4);">Sunday</a></li>
        </ul>

        <div class="mom-list-item tilt-item" data-ng-repeat="concert in currentShows | filter:searchText | orderBy:['timeStart','venue.venueName','venue.genre']">
            <a data-ng-href="#/concert/{{concert.concertId}}">
                <img onerror="this.src='img/logo.png'" data-ng-src="{{concert.artist.photoUrl}}" alt="image of {{artist.artistName}}" />
                {{concert.timeStart|date:'mediumDate'}} {{concert.timeStart|date:'shortTime'}} - {{concert.artist.artistName}} @{{concert.venue.venueName}}
            </a>
        </div>

    </div>
</div>

