<div>
    <div>
        <h3>{{selectedConcert.time | date:'fullDate'}}</h3>
        <h4>{{selectedConcert.time | date:'shortTime'}}</h4>
    </div>
</div>
<div>
    <div>
        <h3>{{selectedConcert.artist.artistName}}</h3>
        <h2>{{selectedConcert.venue.photoUrlRemote}}</h2>        
        Venue: <a data-ng-href="#/venue/{{selectedConcert.venue.venueId}}">{{selectedConcert.venue.venueName}}</a><br />
        Address: {{selectedConcert.venue.address}}<br />
        Genre:{{selectedConcert.venue.genre}}<br />
    </div>
</div>
<div>
    <p>&nbsp;</p>
    <a href="#/concertList" class="btn btn-primary" >Back to Concerts</a>
</div>
