<div>
    <h3 class="mom-callout">Credits</h3>

    <p>This festival app was developed and designed by Skyline Technologies.</p>
    <h4>Mile of Music 2014</h4>
    <p>Dave Willems</p>
    <p>Cory Chisel</p>
    <p>The Mile of Music Team</p>
    <p>The Mile of Music Education Team</p>
    <p>Willems Marketing & Events</p>
    <p>Credit for the app you are using goes to Skyline Technologies</p>


    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class=" mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>