<div class="mom-list">
    <h3 class="mom-callout">Directions</h3>

    <div class="mom-list-item">
        <a  onclick="openURL('https://www.google.com/maps/place/Fox+Cities+Performing+Arts+Center/@44.262365,-88.411539');">
            <div class="imageLeft"><img src="img/momMap.png" alt="Mile of Music" /></div>
        </a>
    </div>
    <div>
        <h3>
            Mile of Music Headquarters
        </h3>

        <p>Tap the image above to get directions</p>
    </div>
    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>