<div class="mom-list">
    <h3 class="mom-callout">Directions</h3>

    <div class="mom-list-item">
        <a href="http://bing.com/maps/default.aspx?where1=226 E. College Avenue,Appleton,WI">
            <div class="imageLeft"><img src="img/momMap.jpg" alt="Mile of Music" /></div>
        </a>
    </div>
    <div>
        <h3>
            Mile of Music Headquarters
        </h3>

        <p>Tap the image above to get directions using Bing maps</p>
    </div>
    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>