<div>
    <div>
        <h3></h3>
    </div>
    <div>
      <!--  <div id="logo2" style="text-align:center;">
            <a href="/index.html"><img src="img/logo.png" class="mainlogo" alt="Mile of music logo" /></a>
        </div>-->

    </div>
</div>
 <div id="splashPage" class="homesign-wrapper">
     <div class="homesign">
        <div><img src="img/Sign_Web_01.png" width="372" height="10" alt=""></div>
        <div><a href="#/artistList" class=""><img src="img/Artists.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/concertList" class=""><img src="img/Schedule.png" width="372" height="60" alt=""></a></div>
        <div><a href="#/mySchedule" class=""><img src="img/Favorites.png" width="372" height="55" alt=""></a></div>
        <div><a href="#/venueList" class=""><img src="img/Venues.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/map" class=""><img src="img/Map.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/info" class=""><img src="img/Info.png" width="372" height="60" alt=""></a></div>
        <div><a href="#" onclick="openURL('http://www.avenueradio.com/mile-music-radio/'); "><img src="img/Radio.png" width="372" height="50" alt=""></a></div>
        <div><img src="img/Sign_Web_09.png" width="372" height="33" alt=""></div>
    </div>
</div>
<!--<div>
    <div>
        <div id="splashPage" >
            <a href="#/artistList" class="">
                <h2 class=""><span class="glyphicon glyphicon-star-empty"></span>  Artists</h2>
            </a>
            <a href="#/concertList" class="">
                <h2 class=""><span class="glyphicon glyphicon-music"></span>  Schedule</h2>
            </a>
            <a href="#/mySchedule" class="">
                <h2 class=""><img class="glyphicon" src="img/add-favs-icon50.png" />  Favorites</h2>
            </a>
            <a href="#/venueList" class="">
                <h2 class=""><span class="glyphicon glyphicon-glass"></span>  Venues</h2>
            </a>
            <a href="#/map" class="">
                <h2 class=""><span class="glyphicon glyphicon-map-marker"></span>  Map</h2>
            </a>
            <a href="#/info" class="">
                <h2 class=""><span class="glyphicon glyphicon-info-sign"></span>  Info</h2>
            </a>
            <a href=" http://www.avenueradio.com/mile-music-radio/" class="">
                <h2 class=""><span class="glyphicon glyphicon-headphones"></span>  Radio</h2>
            </a>
        </div>
    </div>
</div>-->

