<div class="row">
    <div  class="col-md-10 col-md-offset-2">
        <h3>Mile of Music</h3>
    </div>
    <div  class="col-md-10 col-md-offset-2">
        <div id="logo2">
            <a href="./index.html"><img src="img/momLogo.png" class="img-thumbnail" alt="Mile of music logo"/></a>
        </div>

    </div>
</div>

<div class="row">
    <div  class="col-md-10 col-md-offset-2">
        <div id="splashPage" >
            <a href="#/artistList" class="list-group-item active">
                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-star-empty"></span>  Artists</h4>
                <p class="list-group-item-text">100 artists from all over the country</p>
            </a>
            <a href="#/concertList" class="list-group-item active">
                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-glyphicon-music"></span>  Shows</h4>
                <p class="list-group-item-text">200 great shows all over Appleton's fabulous mile</p>
            </a>
            <a href="#/venueList" class="list-group-item active">
                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-glass"></span>  Venues</h4>
                <p class="list-group-item-text">40 venues having everything from food to music</p>
            </a>

        </div>
    </div>
</div>

