<div>
    <div>
        <h3></h3>
    </div>
    <div>
    
    </div>
</div>
 <div id="splashPage" class="homesign-wrapper">
     <div class="homesign">
        <div><img src="img/Sign_Web_01.png" width="372" height="10" alt=""></div>
        <div><a href="#/artistList" class=""><img src="img/Artists.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/concertList" class=""><img src="img/Schedule.png" width="372" height="60" alt=""></a></div>
        <div><a href="#/mySchedule" class=""><img src="img/Favorites.png" width="372" height="55" alt=""></a></div>
        <div><a href="#/venueList" class=""><img src="img/Venues.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/map" class=""><img src="img/Map.png" width="372" height="57" alt=""></a></div>
        <div><a href="#/info" class=""><img src="img/Info.png" width="372" height="60" alt=""></a></div>
        <div><img src="img/Radio.png" width="372" height="50" alt=""></div>
        <div><img src="img/Sign_Web_09.png" width="372" height="33" alt=""></div>
    </div>
</div>
