<div>
    <div id="splashPage">
       <!-- <h3>Information</h3>-->

        <div class="info-list-top">
        <a href="#/festivalStory">
            <h2><span class="glyphicon glyphicon-book"></span> Festival Story</h2>

        </a>
            </div>
        <div class="info-list">
        <a href="#/tickets">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span> Tickets</h2>

        </a>
            </div>
        <div class="info-list">
        <a href="#/directions">
            <h2><span class="glyphicon glyphicon-plane"></span> Getting Here</h2>

 
        </a>
                        </div>
            <div class="info-list">
        <a href="#/sponsors">
            <h2><span class="glyphicon glyphicon-flash"></span> Sponsors</h2>

        </a>
                            </div>
                <div class="info-list">
        <a href="#/volunteers">
            <h2><span class="glyphicon glyphicon-heart-empty"></span> Volunteers</h2>


        </a>
                                </div>
         <div class="info-list">
       <a href="#/theMile">
                <h2><span class="glyphicon glyphicon-road"></span>  The Mile</h2>
                
      </a>
                                        </div>
                        <div class="info-list">
        <a href="#/credits">
            <h2><span class="glyphicon glyphicon-bullhorn"></span> Credits</h2>

        </a>
                                        </div>

    </div>
</div>
