
<h3 class="mom-callout">
    Favorites
</h3>

<div data-ng-show="mySchedule.length == 0">You have not scheduled any concerts yet.</div>
<div data-ng-show="mySchedule.length > 0" class="mom-list-schedule" data-ng-repeat="concert in mySchedule | orderBy:'concert.artist.artistNameSort'">

    <div class="mom-list-schedule-item divided-sections">

        <div class="post-container">                
            <div data-ng-hide="checkSchedule(concert.concertId)" class="post-thumb">
                <a class="mom-list-schedule-item-remove-favorite" data-ng-href="" data-ng-click="removeFavorite(concert.concertId)">
                    <!-- favorites -->
                    <img data-ng-src="img/remove-favs-icon50.png" alt="Remove from Schedule" title="Remove from Schedule" />
                </a>
            </div>
            <div class="post-content">
                <div class="mom-list-schedule-item-label">
                    <span data-ng-repeat="artist in concert.artistData">
                        <a  style="" data-ng-href="#/artist/{{artist.artistId}}"><p class="bold">{{artist.artistName}}</p></a>
                    </span>
                    <a  style="" data-ng-href="#/concert/{{concert.concertId}}">{{concert.timeStart|date:'EEE M/d/yy'}} - {{concert.timeStart|date:'h:mm a'}} - {{concert.timeEnd|date:'h:mm a'}}</a>
                    <a  style="" data-ng-href="#/venue/{{concert.venueId}}"><p>{{concert.venue.venueName}}</p></a>
                </div>
           </div>
        </div>
     
    </div>
</div>

<!--<a data-ng-href="#/mySchedule" data-ng-click="clearSchedule();" class="btn btn-primary" data-ng-show="mySchedule.length > 0">Remove All From Schedule</a>-->
