<div>
    <h3 class="mom-callout">Sponsors</h3>

    <div id="content">

        <h3>THANK YOU TO OUR 2014 PARTNERS &amp; SPONSORS</h3>
        <p>Many organizations and individuals have signed on as collaborators, sponsors and supporters. Needless to say, we're very appreciative.  Our Partners and Sponsors include:</p>
        <table class="sponsor-table sponsor-table-area">
            <tbody>

                <tr><td><a onclick="openURL('http://www.postcrescent.com/');"><img alt="PostCrescent-Media" src="sponsorimages/PostCrescent-Media.jpg" style="max-width:70%;"  /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.stonecellarbrewpub.com/arch/');"><img alt="StoneArch" src="sponsorimages/StoneArch.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.willemsmarketing.com/');" ><img alt="WillemsMarketing" src="sponsorimages/WillemsMarketing.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.cypressbenefit.com/');" ><img class="alignnone size-full wp-image-602" alt="CypressBenefitAdminstrators" src="sponsorimages/CypressBenefitAdminstrators.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.lawrence.edu/');" ><img alt="Lawrence University" src="sponsorimages/LUnew-300x162.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.radisson.com/appleton-hotel-wi-54911/wiapprad');" ><img alt="Radisson-PaperValleyHotel" src="sponsorimages/Radisson-PaperValleyHotel.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.appletondowntown.org/');" ><img alt="AppletonDowntownInc" src="sponsorimages/AppletonDowntownInc.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('');"><img class=" wp-image-4087 aligncenter" alt="fccvbLogo" src="sponsorimages/fccvbLogo.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.theboldtcompany.com/');" ><img class="size-full wp-image-4088 aligncenter" alt="boldtLogo" src="sponsorimages/boldtLogo.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.octoberfestonline.org/');" ><img alt="Octoberfest" src="sponsorimages/Octoberfest.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.foxcu.org');"><img alt="FoxCommunitiesCreditUnion" src="sponsorimages/FoxCommunitiesCreditUnion.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.cffoxvalley.org/');" ><img alt="Community Foundation for the Fox Valley Region" src="sponsorimages/CF-logo-JPEG-300x106.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.gepwi.com/');" ><img alt="Newmark Grubb Pfefferle" src="sponsorimages/newmarkgrubbpfeff-300x54.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('https://www.facebook.com/FCLHA');" ><img alt="Fox Cities Lodging &amp; Hospitality Association" src="sponsorimages/FCLHALogo-300x140.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://stellarbluetechnologies.com/');"><img alt="StellarBlue" src="sponsorimages/stellar-blue-technologies.png" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.skylinetechnologies.com/');" ><img alt="Skyline Technologies" src="sponsorimages/skylinetech-300x164.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://corychisel.com/');" ><img alt="Cory Chisel" src="sponsorimages/CoryChisel.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.fastsigns.com/products?utm_source=google&amp;utm_medium=cpc&amp;utm_term=fast%20signs&amp;utm_campaign=USABrandTerms_USABrandTerms&amp;mpch=sem');"><img alt="Fast Signs" src="sponsorimages/FastSigns.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://stonecellarbrewpub.com/');" ><img alt="Stone Cellar" src="sponsorimages/StoneCellar.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.appleton.org/departments/?department=fb4dcfb8d520');" ><img alt="ValleyTransit" src="sponsorimages/ValleyTransit.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.alliancedevelopment.biz/');" ><img class="aligncenter" alt="alliancedev" src="sponsorimages/alliancedev.jpg" style="max-width:70%;" /></a></td></tr>


                <tr>
                    <td>
                        <h1 style="text-align: center;"></h1>
                        <h1 style="text-align: center;">
                            Michelle<br />
                            Cihla
                        </h1>
                    </td>
                </tr>
                <tr><td><a onclick="openURL('http://instaprintplus.com/');" ><img alt="Insta Print Plus" src="sponsorimages/InstaPrintPlus.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.skylinetechnologies.com/');" href="/sponsorImages/glkfoodsLogo.jpg"><img class=" wp-image-4089 aligncenter" alt="glkfoodsLogo" src="sponsorimages/glkfoodsLogo.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.rockgardenstudio.com/');" ><img alt="rockgardstudio" src="sponsorimages/rockgardstudio-300x185.png" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.foxcitiespac.org/');" ><img alt="FoxCities-PAC10" src="sponsorimages/FoxCities-PAC.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.exclusivecompany.com/');" ><img alt="ExclusiveCompany" src="sponsorimages/ExclusiveCompany.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.goodwillncw.org/');" ><img class="aligncenter" alt="Goodwill" src="sponsorimages/Goodwill.jpg" style="max-width:70%;" /></a></td></tr>




                <tr>
                    <td>
                        <h1><strong>MEDIA PARTNERS:</strong></h1>
                    </td>
                </tr>




                <tr><td><a onclick="openURL('http://www.gannett.com/');" ><img alt="Gannett-WisconsinMeida" src="sponsorimages/Gannett-WisconsinMeida.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.wpr.org/');" ><img alt="Wisconsin Public Radio" src="sponsorimages/WisconsinPublicRadio.jpg" style="max-width:70%;" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.wcinet.com/wci-products/radio');" ><img alt="WoodwardRadioGroup" src="sponsorimages/WoodwardRadioGroup.jpg" style="max-width:70%;" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.theavenue91.com/');" ><img alt="91.1Avenue" src="sponsorimages/91.1Avenue.jpg" style="max-width:70%;" /></a></td></tr>














                <tr>
                    <td>
                        <h3 style="text-align: left;"><strong>VENUE SPONSORS:</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Coming soon</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            <strong>
                                <br />
                                <strong></strong>
                            </strong>
                        </h3>
                    </td>
                </tr>


                <tr>
                    <td>
                        <h3 style="text-align: left;"><strong>ADDITIONAL FIRST MILERS &amp; FRIENDS:</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            <strong>
                                <strong>
                                    Andrew Chisel<br />
                                    Jean Detjen<br />
                                    Chuck Barnum<br />
                                    McCarty Law<br />
                                    Wisconsin Distributors
                                </strong>
                            </strong>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            <strong>
                                Nathan Litt<br />
                                Kurt Kempen<br />
                                The Exclusive Company<br />
                                Skyline Technologies<br />
                                Fox Cities Lodging &amp; Hospitality Assoc.<br />
                            </strong>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            <strong>
                                Dave Willems<br />
                                Michelle Cihla<br />
                                Heid Music<br />
                                Willems Student Marketing Team
                            </strong>
                        </h3>
                    </td>
                </tr>


                <tr>
                    <td>
                        <h3 style="text-align: left;"><strong>LODGING SUPPORT:</strong></h3>
                    </td>
                </tr>




                <tr>
                    <td>
                        <h3 style="text-align: center;"><a href="http://www.radisson.com/appleton-hotel-wi-54911/wiapprad" target="_blank"><strong><img alt="Radisson-PaperValleyHotel" src="sponsorimages/Radisson-PaperValleyHotel.jpg" width="246" height="107" /></strong></a></h3>
                    </td>
                </tr>
                <tr><td><a onclick="openURL('http://www.comfortsuites.com/hotel-appleton-wisconsin-WI021');"> <img class="alignnone  wp-image-1119" alt="Comfort Suites Appleton" src="sponsorimages/comfortsuitesappleton-265x300.jpg" width="127" height="144" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.hiappleton.com/');"><img class="alignnone  wp-image-1124" alt="Holiday Inn Appleton" src="sponsorimages/holidayinnappleton-300x217.gif" width="157" height="113" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.ramada.com/hotels/wisconsin/appleton/ramada-appleton/hotel-overview?hotel_id=17678&amp;cid=whg_ram_gglsem_br&amp;wid=ps:br_whg&amp;002=2193669&amp;004=7072363618&amp;005=50116056058&amp;006=24809213818&amp;007=Search&amp;008=&amp;025=c&amp;026=');"><img class="alignnone  wp-image-1127" alt="Ramada Appleton" src="sponsorimages/ramadaappleton-300x108.jpg" width="178" height="65" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.lq.com/lq/properties/propertyProfile.do?propId=7004');"><img alt="La Quinta Inn  Suites Appleton" src="sponsorimages/laquintainnsuitesappleton.jpg" width="169" height="108" /></a></td></tr>
                <tr><td><a onclick="openURL('http://hamptoninn3.hilton.com/en/hotels/wisconsin/hampton-inn-appleton-fox-river-mall-area-APLHHHX/index.html');"><img class="alignnone  wp-image-1123" alt="Hampton Inn Appleton" src="sponsorimages/hamptoninnappleton-300x191.jpg" width="162" height="104" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.americinn.com/Hotels/WI/Appleton');"><img class="alignnone  wp-image-1118" alt="AmericInn of Appleton" src="sponsorimages/americinnofappleton.jpg" width="176" height="68" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.copperleafhotel.com/');"><img class="alignnone  wp-image-1130" alt="CooperLeaf Boutique Hotel &amp; Spa" src="sponsorimages/copperleafboutiquehotelspa-300x82.png" width="214" height="59" /></a></td></tr>
                <tr><td><a onclick="openURL('http://www.daysinn.com/hotels/wisconsin/kaukauna/days-inn-kaukauna-wi/hotel-overview');"><img class="alignnone  wp-image-1122" alt="Days Inn &amp; Suites Kaukauna" src="sponsorimages/daysinnsuiteskaukauna-300x201.jpg" width="144" height="97" /></a></td></tr>


                <tr><td><a onclick="openURL('http://www.countryinns.com/appleton-hotel-wi-54913/wiapple');"><img class="alignnone  wp-image-1121" alt="Country Inn &amp; Suites Appleton" src="sponsorimages/countryinnsuitesappleton-300x152.png" width="189" height="95" /></a></td></tr>



            </tbody>
        </table>

    </div>

    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>