<div>
    <h3>Our Story</h3>

    <p>Americana and Appleton became acquainted with each other a long time ago, and it didn't take long for the two to
        become synonymous. Mile of Music 2013 was a huge success, featuring over 100 artists converging on Downtown
        Appleton to make music, build community and send a soulful message through story and song at more than 40
        venues, from the Spatio at Spats to the harmonious sanctuary known as the Lawrence Memorial Chapel - oh, and
        just about everywhere in between.</p>

    <h4>THE MILE</h4>

    <p>Appleton's Downtown - an amazing mile of safe, walkable and hospitable experiences - is the host of Mile of
        Music. The Mile has so much to offer, from craft shops to restaurants, cafes, and bars, all exhibiting the
        original, hand-crafted flavor that makes Appleton unique. Come join us for the full Mile of Music weekend to
        experience Appleton at its best.</p>
    <h4>THE MUSIC</h4>

    <p>Mile of Music is a cover-free zone. We're all about original, hand-crafted artistry, and we're eager to serve up
        singer-songwriters, combos and multi-piece bands showcasing Americana music at its very best - from roots and
        indie rock to country, soul, r&b, jazz and folk. And you know what the best part is? Most events will be FREE.
        Plus, there will be plenty of free, hands-on Music Education events throughout the festival for all ages to
        awaken your inner musician.</p>
    <h4>GET READY</h4>

    <p>We're back this year, again with national recording artist, singer-songwriter and Appleton native Cory Chisel to
        pave the way for a bigger and better Mile of Music, this time with 200+ artists and 50+ venues. Get ready - the
        countdown to #mile2 has begun!</p>

    <p>&nbsp;</p>
    <a href="#/info" class="btn btn-primary" >Back to Info</a>
</div>