<div>
    <h3 class="mom-callout">TICKET INFORMATION</h3>

    <p><a onclick="openURL('http://www.etix.com/ticket/online/homePageSearch.do?method=showPerformanceDetail&performance_id=1813346&search_source=etix');">Click here</a> to purchase tickets!</p>
    <p><a onclick="openURL('http://visitor.r20.constantcontact.com/manage/optin/ea?v=001I28I6UdNSwJJ6pH7mj9H7TEIwmLIWlaUl8obvqwFutg5cB5p8yYZEh2kTMrEbdX2-yxM-X4BFCL0n7yD_KJudg%3D%3D');">Sign up</a> to be notified of Mile of Music Festival schedule updates and ticket information.
</p>
    <h3>TICKETS CURRENTLY AVAILABLE:</h3>

    <p>VIP PRIORITY ACCESS PASS: $150.00</p>

    <h3>TICKET SALE DATES</h3>
    <p>VIP PRIORITY ACCESS PASS: Tickets on sale through August 7, 2014 6:00 PM CDT</p>

    <h3>PERFORMANCE DESCRIPTION</h3>
    <p>
        VIP Priority Access Pass includes:
        <br />
        Priority access to Lawrence Memorial Chapel shows, Jones park VIP section, and the larger band venues and shows, as capacity allows; August 6 bonus Kick-Off Concert (details forthcoming); August 7 All-Star Jam (not to be missed!); artist meet-and-greets; and more!
        </p>

    <p>
        As a VIP Priority Access Pass purchaser, we thank you for your special support of Mile of Music and music education in Appleton. Please note: You will have to exchange this ticket for your VIP lanyard at the Mile of Music headquarters right before and during the Festival. Specific dates and times for exchanges will be announced.
        </p>

    <p>
        All venues have limited capacities. With a VIP Priority Access Pass, please note that your access to shows are based on available capacity, but does include priority access for the larger, indoor band venues. For many smaller venues, seating is on a first-come, first-served basis and is open to all.
        </p>

    <p>
        **PLEASE NOTE THAT THE $150.00 VIP Priority Access Pass PRICE INCLUDES ALL CONVENIENCE AND HANDLING FEES. Tickets are non-refundable.
        </p>

    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>