<div>
    <h3 class="mom-callout">TICKET INFORMATION</h3>

    <h4>
        <a title="Sign up for email updates" href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001I28I6UdNSwJJ6pH7mj9H7TEIwmLIWlaUl8obvqwFutg5cB5p8yYZEh2kTMrEbdX2-yxM-X4BFCL0n7yD_KJudg%3D%3D">Sign up</a> to be notified of Mile of Music Festival schedule updates and ticket information.
    </h4>
    <br />
    <h4>
        <a href="http://www.etix.com/ticket/online/homePageSearch.do?method=showPerformanceDetail&amp;performance_id=1813346&amp;search_source=etix" target="_blank">Click here</a> to purchase tickets!
    </h4>

    <br />
    
    <h3>TICKETS CURRENTLY AVAILABLE:</h3>

    <p>VIP PRIORITY ACCESS PASS: $150.00</p>

    <h3>TICKET SALE DATES</h3>
    <p>VIP PRIORITY ACCESS PASS: Tickets on sale from Apr 24, 2014 3:24 PM CDT to Aug 7, 2014 12:00 PM CDT</p>
    
    <h3>PERFORMANCE DESCRIPTION</h3>
    <p>
        VIP Priority Access Pass includes:
        <br />
        Priority access to larger band venues and shows; artist meet-and-greets; May 6th Bonus kick-off concert (details forthcoming); other events special to VIPs to be announced soon.
    </p>
    
    <p>
        As a VIP Priority Access Pass purchaser, we thank you for your special support of Mile of Music and music education in Appleton. Please note: You will have to exchange this ticket for your VIP lanyard at the Mile of Music headquarters. Dates and times for exchanges will be announced.
    </p>
    
    <p>
        All venues have limited capacities. With a VIP Priority Access Pass, please note that your access to shows are based on available capacity, but does include priority access for the larger, indoor band venues. For most smaller venues, seating is on a first-come, first-served basis and open to all.
    </p>
    
    <p>
        **PLEASE NOTE THAT THE $150.00 VIP Priority Access Pass PRICE INCLUDES ALL CONVENIENCE AND HANDLING FEES. Tickets are non-refundable.
    </p>

    <div class="mom-list-item"> <a href="#/info"><div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div> 
</a> </div>
</div>