<div class="mom-list-item">
    <div>
        <p>&nbsp;</p>
        <a href="javascript:window.history.back();">
            <div class="mom-list-button">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back
            </div>
        </a>
    </div>
    <img onerror="this.src='img/no-image-venue.jpg'" src="{{selectedVenue.photoUrl}}" alt="image of {{selectedVenue.venueName}}" />
    <div class="mom-list-label">
        {{selectedVenue.venueName}}
    </div>
</div>
<tabset>
    <tab heading="Info">
        <!-- This is the INFO tab -->
        <div class="padding" data-ng-show="selectedVenue.description.length > 0">
            {{selectedVenue.description}}
        </div>
        <div class="padding" data-ng-show="selectedVenue.address.length > 0">
            <a ng-click="openMapsURL()">
                {{selectedVenue.address}}
                <br />
                {{selectedVenue.city}}, {{selectedVenue.state}} {{selectedVenue.zip}}
            </a>
        </div>
        <div data-ng-show="selectedVenue.phone.length > 0">
            <a data-ng-href="tel:{{selectedVenue.phone}}">{{selectedVenue.phone}}</a>
        </div>
        <div data-ng-show="selectedVenue.hours.length > 0">
            {{selectedVenue.hours}}
        </div>
        <div>
            <br />
            Age Requirement:
            <div data-ng-show="selectedVenue.underage">
                {{selectedVenue.venueName}} welcomes patrons of all ages
            </div>
            <div data-ng-show="!selectedVenue.underage && selectedVenue.underageWithAdult">
                {{selectedVenue.venueName}} welcomes underage patrons when accompanied by an adult
            </div>
            <div data-ng-show="!selectedVenue.underage && !selectedVenue.underageWithAdult">
                {{selectedVenue.venueName}} welcomes patrons age 21 and older
            </div>
        </div>
        <div class="social-section">
            <!-- This is the SocialSection -->
            <div class="divided-sections" data-ng-show="selectedVenue.twitter.length > 0">
                <a href="#" ng-click="openTwitterURL()">
                    <img src="../img/icon-twitter.png" class="socialicons" alt="Twitter" />
                    {{selectedVenue.twitter}}
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedVenue.facebook.length > 0">
                <a  ng-click="openFacebookURL()">
                    <img src="img/icon-facebook.png" class="socialicons" alt="Facebook" />
                    Facebook
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedVenue.instagram.length > 0">
                <a ng-click="openInstagramURL()">
                    <img src="img/icon-instagram.png" class="socialicons" alt="Instagram" />
                    {{selectedVenue.instagram}}
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedVenue.url.length > 0">
                <a ng-click="openVenueURL()">
                    <img src="img/icon-home.png" class="socialicons" alt="Homepage" />
                    Venue Page
                </a>
            </div>
        </div>

    </tab>
    <tab heading="Schedule">
        <!-- This is the Schedule tab -->
        <!--   <p>Enjoy these concerts at {{selectedVenue.venueName}}:</p>-->
        <div data-ng-show="shows == null">
            <p>
                <br />
                There are currently no concerts scheduled for this venue
                <br />
                Please check back later
            </p>
        </div>
        <div class="mom-list-schedule" data-ng-repeat="concert in shows | orderBy:['time']" data-ng-show="shows.length > 0">
            <div class="mom-list-schedule-item  divided-sections">
                <div class="post-container">
                    <div class="post-thumb">
                        <div data-ng-show="checkSchedule(concert.concertId)">
                            <!-- Add favorite -->
                            <a class="mom-list-schedule-item-add-favorite" data-ng-href="" data-ng-click="saveFavorite(concert.concertId)"></a>
                        </div>
                        <div data-ng-hide="checkSchedule(concert.concertId)">
                            <!-- Remove favorite -->
                            <a class="mom-list-schedule-item-remove-favorite" data-ng-href="" data-ng-click="removeFavorite(concert.concertId)"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <a class="mom-list-schedule-item-label" data-ng-href="#/concert/{{concert.concertId}}">
                            <div data-ng-repeat="artist in concert.artistData">
                                <p class="bold">{{artist.artistName}}</p>
                            </div>
                            <div>
                                <p>{{concert.timeStart|date:'EEE M/d/yy'}}<br />{{concert.timeStart|date:'h:mm a'}} - {{concert.timeEnd|date:'h:mm a'}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>

