<div class="mom-list-item">
    <div>
        <p>&nbsp;</p>
        <a href="#/venueList"><div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div></a>
    </div>
    <img onerror="this.src='img/no-image-venue.jpg'" src="{{selectedVenue.photoUrl}}" alt="image of {{selectedVenue.venueName}}" />
    <div class="mom-list-label">
        {{selectedVenue.venueName}}
    </div>
</div>

<div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="" data-toggle="tab" data-ng-click="setSelectedTab(1);">Info</a></li>
        <li><a href="" data-toggle="tab" data-ng-click="setSelectedTab(2);">Schedule</a></li>
    </ul>

    <div data-ng-show="shouldShowTab(1)">
        <!-- This is the INFO tab -->
        <div class="padding" data-ng-show="selectedVenue.description.length > 0">
            {{selectedVenue.description}}
        </div>
        <div class="padding" data-ng-show="selectedVenue.address.length > 0">
            <a data-ng-href="http://bing.com/maps/default.aspx?where1={{selectedVenue.address}},{{selectedVenue.city}},{{selectedVenue.state}}" target="_blank">
                {{selectedVenue.address}}
                <br />
                {{selectedVenue.city}}, {{selectedVenue.state}} {{selectedVenue.zip}}
            </a>
        </div>
        <div data-ng-show="selectedVenue.phone.length > 0">
            <a data-ng-href="tel:{{selectedVenue.phone}}">{{selectedVenue.phone}}</a>
        </div>
        <div data-ng-show="selectedVenue.hours.length > 0">
            {{selectedVenue.hours}}
        </div>
        <div><br />
            Age Requirement:
            <div data-ng-show="selectedVenue.underage">
                {{selectedVenue.venueName}} welcomes patrons of all ages
            </div>
            <div data-ng-show="!selectedVenue.underage && selectedVenue.underageWithAdult">
                {{selectedVenue.venueName}} welcomes underage patrons when accompanied by an adult
            </div>
            <div data-ng-show="!selectedVenue.underage && !selectedVenue.underageWithAdult">
                {{selectedVenue.venueName}} welcomes patrons age 21 and older
            </div>
        </div>
        <div class="social-section">
            <!-- This is the SocialSection -->
            <div class="divided-sections" data-ng-show="selectedVenue.twitter.length > 0">
                <a data-ng-href="http://www.twitter.com/{{selectedVenue.twitter}}">
                    <img src="../img/icon-twitter.png" class="socialicons" alt="Twitter" />
                    {{selectedVenue.twitter}}
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedVenue.facebook.length > 0">
                <a data-ng-href="{{selectedVenue.facebook}}">
                    <img src="img/icon-facebook.png" class="socialicons" alt="Facebook" />
                    Facebook
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedArtist.instagram.length > 0">
                <a data-ng-href="https://www.instagram.com/{{selectedArtist.instagram}}">
                    <img src="img/icon-instagram.png" class="socialicons" alt="Instagram" />
                    {{selectedArtist.instagram}}
                </a>
            </div>
            <div class="divided-sections" data-ng-show="selectedVenue.url.length > 0">
                <a data-ng-href="{{selectedVenue.url}}">
                    <img src="img/icon-home.png" class="socialicons" alt="Homepage" />
                    Venue Page
                </a>
            </div>
        </div>

    </div>

    <div data-ng-show="shouldShowTab(2)">
        <!-- This is the Schedule tab -->
    <!--   <p>Enjoy these concerts at {{selectedVenue.venueName}}:</p>-->
        <div class="mom-list-schedule" data-ng-repeat="concert in shows | orderBy:['time']">
            <div class="mom-list-schedule-item  divided-sections">
                <div class="post-container">
                    <div class="post-thumb">
                    <div data-ng-show="checkSchedule(concert.concertId)">
                    <!-- Add favorite -->
                    <a class="mom-list-schedule-item-add-favorite" data-ng-href="" data-ng-click="saveFavorite(concert.concertId)" ></a>                    
                </div>
                <div data-ng-hide="checkSchedule(concert.concertId)">
                    <!-- Remove favorite -->
                    <a class="mom-list-schedule-item-remove-favorite" data-ng-href="" data-ng-click="removeFavorite(concert.concertId)"></a>
                </div>
                        </div>
                <div class="post-content">
                    <a class="mom-list-schedule-item-label" data-ng-href="#/concert/{{concert.concertId}}">
                        <div data-ng-repeat="artist in concert.artistData">
                            <p class="bold">{{artist.artistName}}</p>
                        </div>
                        <div>
                            <p>{{concert.timeStart|date:'EEE M/d/yy'}}<br />{{concert.timeStart|date:'h:mm a'}} - {{concert.timeEnd|date:'h:mm a'}}</p>                            
                        </div>
                    </a>
                </div>
               </div>
            </div>
        </div>
    </div>


</div>