<div class="mom-list">
   <!-- <h3>Venue List</h3>-->

    <div data-listnav></div>

    <div id="venues" class="mom-list-item" data-ng-repeat="venue in locations.venues | orderBy:'venueName'">
        <a id="nav-{{venue.venueName | firstLetter}}" data-ng-href="#/venue/{{venue.venueId}}">
            <div class="imageCenter"><img onerror="this.src='img/no-image-venue.jpg'" src="venueImages/{{venue.venueId}}.jpg" alt="image of {{venue.venueName}}" /></div>
            <div class="mom-list-label">
                {{venue.venueName}}<br />
                {{venue.address}}
            </div>
        </a>
    </div>
</div>