<div class="col-md-10 col-md-offset-2">
    <h3>HELP MAKE THE MUSIC HAPPEN!</h3>

    <p>Our volunteers make the Mile of Music happen! Be sure to visit them and say thanks</p>

    <p>To help make an event as big and dynamic as the Mile of Music happen, we need between 200-300 volunteers in all kinds of roles. Please read below to see how you can help Make the Music Happen.</p>

    <h3><strong>HOW DOES VOLUNTEERING WORK?</strong></h3>
    <p>We are looking for friendly, hardworking people who are excited to show what our Downtown and community can offer to the artists/bands and many visitors who will be coming from across the state, Midwest, and nation to experience the Mile of Music festival.</p>
    <p>Most volunteer shifts will be 5-6 hours in length. Volunteers will be given special name badge lanyards to wear that denote their important role with the festival. The volunteer name badges will also provide volunteers with:</p>
    <ul>
        <li>Special price for a Mile of Music t-shirt;</li>
        <li>Updates and inside information on the latest festival news as it happens;</li>
        <li>An invitation to a special post-festival Volunteer &amp; Sponsors celebration;</li>
        <li>Other perks yet to be announced.</li>
    </ul>
    <p>Here is a listing of some of the volunteer roles we need your help with (you&#8217;ll find more detailed descriptions for each position at the bottom of the page): Pre-Festival Preparation | Venue Captain | Door/Ticketing | Band/Stage Volunteers | Houdini Plaza Volunteers | Festival Roamer/ Gopher | Info Booth/Merchandise | Band/VIP Lounge | Transportation</p>

    <h3><strong>HOW DO I BECOME A VOLUNTEER?</strong></h3>
    <p>After reviewing the volunteer role descriptions, <a href="mailto:volunteer@mileofmusic.com" target="_blank">send us an email</a> letting us know:</p>
    <ul>
    <li><strong>your availability</strong> during the festival (August 7-10);</li>
    <li><strong>how many shifts</strong> you are willing/able to work; and</li>
    <li><strong>the top 2-3 volunteer roles</strong> you would be able to assist with.</li>
    </ul>
    <p>While we won&#8217;t be able to accommodate everybody&#8217;s schedule entirely, we&#8217;ll certainly try our best. We definitely appreciate multiple shifts because the more experienced the volunteer, the better, at this major event.</p>
    <h3><strong>DETAILED VOLUNTEER ROLE DESCRIPTIONS:</strong></h3>
    <h4>Pre-Festival Preparation</h4>
    <ul>
    <li>Helps prepare band information and registration materials</li>
    <li>Prepares VIP grab bags</li>
    <li>Assists with other pre-festival preparation needs</li>
    </ul>
    <h4>Venue Captain<br />
    <em>(must be 21+ or with parent/legal guardian)</em></h4>
    <ul>
    <li>Primary festival representative onsite during shows at venue</li>
    <li>Ensures exceptional hospitality for band and concert attendees</li>
    <li>Works with venue management and staff to address issues that may arise -ID checking, Capacity, and Security are the responsibility of the venue and not the volunteer -Venue Captain will alert venue management/staff if something needs to be taken care related to hospitality, security or an emergency</li>
    <li>Respond to needs and requests of band/artist</li>
    <li>Communicates with production team (A/V) to ensure highest sound and performance quality</li>
    <li>Makes sure Venue Sponsor signage (when applicable) is displayed and visible in venue during performances Reminds band/artists and attendees that Mile of Music is a &#8220;cover free&#8221; zone featuring all original music</li>
    </ul>
    <h4>Door/Ticketing<br />
    <em>(must be 21+ or with parent/legal guardian at select venues) </em></h4>
    <ul>
    <li>Takes/scans tickets at Headline and Feature Stage performances</li>
    <li>Ensures accurate count of capacity/attendance at Headline and Feature Stage venues</li>
    <li>Provides excellent customer service and assistance to concert attendees</li>
    </ul>
    <h4>Band/Stage Volunteers<br />
    <em>(must be 21+ for some venues)</em></h4>
    <ul>
    <li>Assists bands/artists loading in and packing up equipment before and after performances</li>
    <li>Provides assistance to Production &amp; A/V Teams</li>
    <li>Ensures exceptional hospitality for bands/artists before, during, and after performances</li>
    </ul>
    <h4>Houdini Plaza Volunteers<br />
    <em>(must be 21+)</em></h4>
    <ul>
    <li>Ensures exceptional hospitality for band and concert attendees</li>
    <li>Assists in wrist banding and selling beverages during performances in Houdini Plaza</li>
    <li>Follows direction/instruction from Appleton Downtown, Inc. volunteer supervisor</li>
    <li>Responsible for proper license identification for wristband/beer sales</li>
    <li>Sells and serves beverages</li>
    <li>Provides excellent customer service and assistance</li>
    </ul>
    <h4>Info Booth/Merchandise Sales</h4>
    <ul>
    <li>Provides excellent customer service and assistance to festival attendees</li>
    <li>Ensures exceptional hospitality for band and festival attendees</li>
    <li>Serves as a resource for bands and festival attendees</li>
    <li>Sells Mile of Music Merchandise</li>
    </ul>
    <h4>Festival Roamer/Gopher</h4>
    <ul>
    <li>Provides excellent customer service and assistance to festival attendees</li>
    <li>Ensures exceptional hospitality for band and festival attendees</li>
    <li>Walks designated area of the Mile and serves as a source of information for attendees; also serves as a look out for possible issues, emergencies, etc&#8230;and reports them to the APD</li>
    <li>Monitors lines outside of venues and reports status back to headquarters</li>
    <li>Frequently checks in performances to ensure things are going well and to see if Venue Captains need assistance</li>
    <li>Keeps Mile of Music Headquarters updated about status of their portion of the Mile</li>
    <li>Gets whatever needs to be taken care of done</li>
    </ul>
    <h4>Band/VIP Lounge</h4>
    <ul>
    <li>Provides excellent customer service and assistance to bands/artists and VIPs at Lounge</li>
    <li>Ensures exceptional hospitality for bands and VIPs</li>
    <li>Assists in registering bands/artists for festival</li>
    <li>Helps VIPs pick up their lanyard badges, grab bags and other festival related info</li>
    <li>Serves as a resource for bands and VIPs</li>
    <li>Sells Mile of Music merchandise</li>
    <li>Assists onsite catering to ensure food/drink is available, well-stocked, and fresh</li>
    </ul>
    <h4>Transportation<br />
    <em>(must be 21+ with valid driver&#8217;s license)</em></h4>
    <ul>
    <li>Provides excellent customer service and assistance to festival attendees</li>
    <li>Ensures exceptional hospitality for band and festival attendees</li>
    <li>Provides transportation to bands/artists and Mile of Music Media Team between lodging and performance venues</li>
    </ul>
<p>&nbsp;</p>

    <p>&nbsp;</p>
    <a href="#/info" class="btn btn-primary" >Back to Info</a>
</div>