<div class="col-md-10 col-md-offset-2">
    <h3 class="mom-callout">HELP MAKE THE MUSIC HAPPEN!</h3>

    <p>Our volunteers make the Mile of Music happen! When you see them be sure to say hello and thanks!</p>

    <p>To make an event as big and dynamic as the Mile of Music happen, we need LOTS of volunteers-in fact, about 200 or so-in all kinds of roles. Please read below to see how you can help <i>Make the Music Happen</i>.</p>
    <h3>HOW DOES VOLUNTEERING WORK?</h3>
    <p>We are looking for friendly, hardworking people who are excited to show what our Downtown and community can offer to artists/bands and the many visitors who will be coming from across the state, Midwest, and nation to experience the Mile of Music festival.</p>
    <p>Most volunteer shifts will be 4-6 hours in length. Volunteers will be given special name badge lanyards to wear that denote their important role with 
    the festival. The volunteer name badges will also provide volunteers with:</p>
    <ul>
        <li>Free admission for each volunteer at the special bonus kick-off concert on Wednesday night, August 6th at the Fox Cities PAC;</li>
        <li>Special price for one of our Mile of Music souvenir t-shirts;</li>
        <li>Updates and inside information on the latest festival news as it happens;</li>
        <li>An invitation to a special post-festival Volunteer & Sponsors celebration;</li>
        <li>Other perks yet to be announced.</li>
    </ul>
    <p>Here is a listing of some of the volunteer roles we need your help with (you'll find more detailed descriptions for each 
    position <a onclick="openURL('http://mileofmusic.com/contact/volunteer/');">here</a>): Pre-Festival Preparation | Venue Captain | Door/Ticketing | Band/Stage Volunteers | Houdini Plaza Volunteers | Festival Roamer/ Gopher | Info Booth/Merchandise | Band/VIP Lounge | Transportation</p>

    <h3>HOW DO I BECOME A VOLUNTEER?</h3>
    <p>Click <a onclick="openURL('http://marcatoapp.com/website_integration/mileofmusic/volunteers/new');">here</a> to apply!</p>

    <div class="mom-list-item">
        <a href="javascript:window.history.back();">
            <div class="mom-list-button"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</div>
        </a>
    </div>
</div>