<div class='listNav'>
    <div  class='listNavBtn'>
        <input type="button" value="A" data-ng-click="navigate('A')" />
        <input type="button" value="B" data-ng-click="navigate('B')" />
        <input type="button" value="C" data-ng-click="navigate('C')" />
        <input type="button" value="D" data-ng-click="navigate('D')" />
        <input type="button" value="E" data-ng-click="navigate('E')" />
        <input type="button" value="F" data-ng-click="navigate('F')" />
        <input type="button" value="G" data-ng-click="navigate('G')" />
        <input type="button" value="H" data-ng-click="navigate('H')" />
        <input type="button" value="I" data-ng-click="navigate('I')" />
        <input type="button" value="J" data-ng-click="navigate('J')" />
        <input type="button" value="K" data-ng-click="navigate('K')" />
        <input type="button" value="L" data-ng-click="navigate('L')" />
        <input type="button" value="M" data-ng-click="navigate('M')" />
        <input type="button" value="N" data-ng-click="navigate('N')" />
        <input type="button" value="O" data-ng-click="navigate('O')" />
        <input type="button" value="P" data-ng-click="navigate('P')" />
        <input type="button" value="Q" data-ng-click="navigate('Q')" />
        <input type="button" value="R" data-ng-click="navigate('R')" />
        <input type="button" value="S" data-ng-click="navigate('S')" />
        <input type="button" value="T" data-ng-click="navigate('T')" />
        <input type="button" value="U" data-ng-click="navigate('U')" />
        <input type="button" value="V" data-ng-click="navigate('V')" />
        <input type="button" value="W" data-ng-click="navigate('W')" />
        <input type="button" value="X" data-ng-click="navigate('X')" />
        <input type="button" value="Y" data-ng-click="navigate('Y')" />
        <input type="button" value="Z" data-ng-click="navigate('Z')" />
        <br />
        <br />
    </div>

</div>